@model IEnumerable<QuanLyNongSan.Models.SANPHAM>

@{
    ViewBag.Title = "Danh sách sản phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<QuanLyNongSan.Models.NHACUNGCAP> ListNCC = ViewBag.ListNCC as List<QuanLyNongSan.Models.NHACUNGCAP>;
    List<QuanLyNongSan.Models.LOAISANPHAM> ListLSP = ViewBag.ListLSP as List<QuanLyNongSan.Models.LOAISANPHAM>;

}
<div class="content-wrapper" style="min-height: 1200.88px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Sản Phẩm</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        @*<li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">DataTables</li>*@
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <div class="col-2 @ViewBag.Add">
                            <a href="/SanPhams/Create" class="btn btn-block btn-success"><i class="fas fa-plus"></i> Thêm mới</a>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>QR</th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.MaLoai)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.MaNCC)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.TenSP)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.TrongLuong)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ThoiHanSuDung)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.QuyCachDongGoi)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Gia)
                                    </th>
                                    @*<th>
                                        @Html.DisplayNameFor(model => model.Ghichu)
                                    </th>*@
                                    <th>Thời Gian</th>
                                    @*<th>Bảo Quản</th>*@
                                    <th class="@ViewBag.IsAdmin">Hành Động</th>
                                </tr>

                            </thead>
                            <tbody>

                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            <div id="qrcode_@item.MaSP"></div>
                                            <script>
                                                var qrcode = new QRCode("qrcode"+"_"+@item.MaSP, {
                                                    text: "@item.MaSP",
                                                    width: 50,
                                                    height: 50,
                                                    colorDark: "#000000",
                                                    colorLight: "#ffffff",
                                                    correctLevel: QRCode.CorrectLevel.H
                                                });                                            </script>
                                        </td>
                                        <td>
                                             @if (@ListLSP.FirstOrDefault(x => x.MaLoai == (int)item.MaLoai) != null)
                                             {
                                                @ListLSP.FirstOrDefault(x => x.MaLoai == (int)item.MaLoai).TenLoai
                                                
                                             }
                                        </td>
                                        <td>
                                            @if (@ListNCC.FirstOrDefault(x => x.MaNCC == (int)item.MaNCC) != null)
                                            {
                                                @ListNCC.FirstOrDefault(x => x.MaNCC == (int)item.MaNCC).TenNhaCC
                                            }
                                        </td>
                                        <td>
                                            @Html.ActionLink(item.TenSP, "Details", "SanPhams", new { @id = @item.MaSP },null)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TrongLuong)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ThoiHanSuDung)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.QuyCachDongGoi)
                                        </td>
                                        <td>
                                            @string.Format("{0:N0}", @item.Gia)

                                        </td>
                                        @*<td>
                                            @Html.DisplayFor(modelItem => item.Ghichu)
                                        </td>*@
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ThoiGian)
                                        </td>
                                        @*<td>
                                            @Html.DisplayFor(modelItem => item.BaoQuan)
                                        </td>*@
                                        <td class="@ViewBag.IsAdmin">
                                            <a href="@Url.Action("Edit", "SanPhams",new { id = item.MaSP })" title="Sửa">
                                                <i class="fas fa-pencil-alt"></i>
                                            </a>|
                                            <a style="color:red;" href="@Url.Action("Delete", "SanPhams",new { id = item.MaSP })" title="Xóa">
                                                <i class="fas fa-trash-alt"></i>
                                            </a>
                                        </td>
                                    </tr>

                                }

                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>QR</th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.MaLoai)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.MaNCC)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.TenSP)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.TrongLuong)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ThoiHanSuDung)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.QuyCachDongGoi)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Gia)
                                    </th>
                                    @*<th>
                                        @Html.DisplayNameFor(model => model.Ghichu)
                                    </th>*@
                                    <th>Thời Gian</th>
                                    @*<th>Bảo Quản</th>*@
                                    <th class="@ViewBag.IsAdmin">Hành Động</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
    <!-- /.content -->
</div>